<div class="content-item">
  <div class="article-link">
    <img class="content-display" src={{content.image}} alt={{content.title}}/>
    <h1>{{content.title}}</h1>
    <p class="type">{{content.type}}</p>
  </div>
  <hr>
  <h4 class="author">{{content.author}}</h4>
  <h4 class="time">{{content.time}}</h4>
  {{update-content content=content update="update"}}
  <button class="btn-primary pull-right" {{action 'delete' content}}>Delete this entry</button>
</div>
