<div class="content-item">
  <div class="article-link">
    <img class="content-display" src={{content.image}} alt={{content.title}}/>
    <h1>{{content.title}}</h1>
    <p class="type">{{content.type}}</p>
  </div>
  <p>{{content.author}}</p>
  <p>{{content.time}}</p>
  <p>{{timeDifference}}</p>
  <button {{action 'delete' content}}>Delete</button>
</div>
